@import "variables";

.img-container {
  background-image: url("../images/bg-main.jpeg");
  background-size: cover;
  height: 40vh;
  border-bottom: 1px solid #000;
}

.join-section {
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #000;
}

.join-section__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.3em;
}

.join-section__link-container {
  width: 160px;
  display: flex;
  justify-content: space-between;
}

.join-section__link {
  color: #007BFF;
  font-size: 1em;
}

.join-section__link:hover {
  text-decoration: underline;
  color: #0258e3;
}

.div-fb-page {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 20px;
}

.div-fb-page-header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.div-fb-page-header__title {
  margin-top: 27px;
  margin-bottom: 10px;
  font-size: 1.3em;
}

.plugin-container {
  width: 500px;
}

.div-fb-page-links {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 27px;
}

.div-fb-page-links__link {
  color: #007BFF;
  font-size: 1em;
}

.div-fb-page-links__link:hover {
  text-decoration: underline;
  color: #0258e3;
}

.gallery {
  background-size: cover;
  height: 55vh;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.gallery--slide1 {
  background-image: url("../images/slideshow/slide1.jpg");
}

.gallery--slide2 {
  background-image: url("../images/slideshow/slide2.jpg");
}

.gallery--slide3 {
  background-image: url("../images/slideshow/slide3.jpg");
}

.gallery__button {
  background-color: #fff;
  border: 3px solid #007BFF;
  border-radius: 5px;
  height: 50px;
  width: 40px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

@media (max-width: $break-sml) {
}

@media (min-width: $break-med) {
  .fb-page {
    border: 1px solid #000;
  }
}

@media (min-width: $break-lrg) {
}